body {
    background-color: #e555a4;
    
    }
    
    #titulo {
        font-size:30px;
        text-align: center;
        color: #44044400;
    }
    .header {
        padding: 20px;
        background-color: #f1166e;
        border-bottom: 2px solid rgb(236, 226, 226);
        color: #e7d2db;
    }
    #Logo {
        width: 1cm;
        margin: 20px;
        padding: 5px;

    }
    .texto{
        text-align: center;
        color:#450821;
        font-size: 20px;
    }
    
    #banner {
        width: 50%;
        margin: 20px;
        padding: 5px;
    }
    .titulo {
        text-align: center;
        background-image: linear-gradient(#FF00FF, #EE82EE);
        color: #440444;
    
    }
    #Feira {
        width: 50%;
        margin: 20px;
        padding: 5px;
    }
    .titulo-Feira {
        text-align: center;
        background-image: linear-gradient(#FF00FF, #EE82EE);
        color: #440444;

    }
   
