body {
    background-color: #70de09;
    
    }
    
    .header {
        padding: 10px;
        background-color:whitesmoke;
      
    }
    .cabecalho {
        text-align: center;
        background-color: whitesmoke;
        color:#1b1919;
        font-size: 20px;
        border-bottom: 2px solid rgb(18, 1, 1);
    }
   
    .cabecalho-imagem {
        width: 10%;
        height: 10%;
        text-align: center;
        border-radius: 10px;
       }
       #titulo {
        font-size:30px;
        text-align: center;
        color: #44044400;
    }
    .texto{
        text-align: center;
        color:#111011;
        font-size: 20px;
    }
    
    #banner {
        width: 50%;
        margin: 0px;
        padding: 5px;
        border: 8px solid rgb(231, 224, 224);
        border-radius: 10px;
    }
    .titulo {
        text-align: center;
        color: #111011;
    }
    #Feira {
        width: 50%;
        margin: 20px;
        padding: 5px;
        border: 8px solid rgb(231, 224, 224);
        border-radius: 10px;
    }
    .titulo-Feira {
        text-align: center;
        color:#111011;

    }
    .titulo-Parque {
        text-align: center;
        color: #111011;
   
    }
    #Exi {
        width: 50%;
        margin: 0px;
        padding: 5px;
<<<<<<< HEAD
        border: 8px solid rgb(231, 224, 224);
=======
        border-radius: 10px;
>>>>>>> ad70afe46ef38f1e9b660cbb9db1462780441a11
    }
    .titulo-Exi {
        text-align: center;
        color: #111011;
    }
    .lista {
        color:#111011;
        font-size: 20px; 
    }
    a:hover {
        color: rgb(2, 49, 9)192, 255, 203);
        text-decoration: none;
      }